# Xmake cache
.xmake/
build/
model_build/
python/build/
python/llaisys.egg-info/
# Models
models/

#useless files
model_arch.txt
ASSIGNMENT3_ROADMAP.md
scripts/model_download.py
scripts/view_model_safetensor.py
test_qwen2_model.cpp
test_xmake.lua
scripts/hf.py
# Binaries
bin/
lib/
*.so
*.dll
*.dylib
*.pyd

# MacOS Cache
.DS_Store

# Vscode
.vscode/

# Python
__pycache__/

# Log
*.log

# Cache
cache/

# JSON
*.json

#GGUF
*.gguf


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
env/
venv/
ENV/
*.env
*.venv

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# MyPy and other type checking
.mypy_cache/
.dmypy.json
.pyre/

# Test and coverage
.coverage
htmlcov/
.tox/
.nox/
.cache/
.pytest_cache/
scripts/hf.py

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE and editor settings
.vscode/
.idea/
*.swp
*~

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini